*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2020-02-20-test.md
_posts/2022-08-18-python-jupyter-test.md
_posts/2022-08-19-java-jupyter-test.md
_posts/2022-08-22-bash-learning.md
_posts/2022-08-27-Java-primitives.md
_posts/2022-08-29-Terms-to-Know-Rhetorical-Devices.md
_posts/2022-09-05-Using-Objects.md
_posts/2022-09-06-java-boolean-expressions.md
images/copied_from_nb/my_icons/fastai_logo.png
images/images/using-objects/exampleInput.png
images/images/using-objects/generatedGraph.png
_posts/2022-09-16-FRQ-01.md
_posts/2022-09-12-AP-iteration.md
_posts/2022-09-05-Using-Objects-copy.md
_posts/2022-09-20-Fibonacci.md
